Subject: Leave Application - {{full_name}}

Body:
Dear {{faculty}},

I am writing to inform you that {{full_name}} (Roll Number : {{roll_number}}), a student of {{semester}},

Please find the details below:

Student Name: {{full_name}}
Roll Number: {{roll_number}}
Semester: {{semester}}
Faculty: {{faculty}}
Leave Type: {{leave_type}}
Leave Dates: {{start_date}} to {{end_date}}
Reason: {{reason}}
Gurdain Contact: {{guardian_contact}}
Student Contact: {{student_contact}}
Thank you for your understanding.

Kind regards,
PuzanKc
Student Leave Management System